body {
  margin: 0;
  background-color: white;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 0%;
}
textarea {
  height: 60vh;
  width: 80%;
}

pre {
  background: #2e2f2f;
  border-radius: 5px;
  padding: 10px;
}

img{
  width: 1000px;
  padding: 10px;
}

.main {
  padding: 10px;
}

.markdownx {
  display: flex;
}

.markdownx-editor {
  width: 50%;
}

.markdownx-preview {
  width: 50%;
  margin-left: 15px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 5px;
}
