{% extends "auctions/layout.html" %}
{% load bootstrap5 %}

{% block title %}
  Create New Listing
{% endblock %}

{% block body %}
  <h1>Create New Listing</h1>
  <div class="container">
    <form method="POST" action="">
      {% csrf_token %}
      {% bootstrap_field form.title show_label=True %}
      {% bootstrap_field form.description show_label=True %}
      {% bootstrap_field form.starting_bid show_label=True %}
      {% bootstrap_field form.image_url show_label=True %}
      {% bootstrap_field form.category show_label=True %}
    <input class="create" type="submit" name="create" placeholder="Submit">
    </form>
  </div><br>
  <a href="/">Back</a>
{% endblock %}
