{% extends "layout.html" %}

{% block title %}
  Edit List
{% endblock %}

{% block body %}
  <div class="container">
    <ul>
      {% for entry in entries %}
        <li><a href="{% url 'edit' entry %}">{{ entry }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <style>
    pre {
       background: #2e2f2f;
       border-radius: 5px;
       padding: 10px;
       }
    img{
        width: 1000px;
        padding: 10px;
       }
    .markdownx {
      display: flex;
    }
    .markdownx-editor {
      width: 50%;
      padding: 10px;
    }
  </style>
  <a href="/">Back</a>
{% endblock %}
